/* additional css for Bootstrap */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.btn-bd-primary {
  --bd-tiger-orange: #ff9900; 
  --bd-tiger-black: #333333; 

  --bs-btn-font-weight: 700; 
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-tiger-orange);
  --bs-btn-border-color: var(--bd-tiger-orange);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #4d2600; 
  --bs-btn-hover-border-color: #4d2600; 
  --bs-btn-focus-shadow-rgb: 255, 153, 0;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #331a00; 
  --bs-btn-active-border-color: #331a00; 
}

.bg{
  /* background-image: url("./images/13031912_1606.m00.i125.n007.S.c12.150566579\ Earth\ globe\ world\ map\ of\ dots\ vector\ illustration.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-signin {
  max-width: 700px;
  padding: 2rem;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
}
